<header>
    <div class="header">
        <img src="/static/img/logo.jpeg" alt="" class="header__logo">
        <ul class="header__link">
            <li class="header__link_item"><a href="/" class="header__link_item_a">Home</a></li>
            <li class="header__link_item"><a href="/about" class="header__link_item_a">About</a></li>
        </ul>
    </div>
</header>

